
# Python
__pycache__/
*.pyc

# Virtual environment
.venv/

# Streamlit
.streamlit/secrets.toml

# Google Drive API Secrets
token.json
credentials.json
client_secret.json

# Local Data (Should be synced via script)
data/
*.csv

# OS
.DS_Store

# Temp / large originals
assets/*\ *.png
assets/*\ *.jpg
assets/unnamed.jpg
